@import "styles/settings/__settings";

.homeHeroSection {
  overflow: hidden;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.homeHeroContainer {

  display: flex;
  flex-direction: column;

  @media (min-width: 800px) {
    flex-direction: row;
  }

  & > div {

    width: 100%;

    @media (min-width: 800px) {
      width: 50%;
      flex-grow: 0;
      flex-shrink: 0;
    }

  }

}

.homeHeroContent {

  padding: 5em 0 2em;

  @media (min-width: 800px) {
    padding: 12vw 0;
  }

  @media (min-width: 1280px) {
    padding: 10em 0;
  }

}

.homeTitle {

  font-size: 10vw;
  font-weight: 900;
  text-align: center;
  margin: 0;

  @media (min-width: 800px) {
    font-size: 7vw;
    text-align: left;
  }

  @media (min-width: 1024px) {
    font-size: 4.8em;
  }

}

.homeSubtitle {

  display: block;
  width: 100%;
  font-size: 6vw;
  text-align: center;
  margin: .6em 0 1em;

  @media (min-width: 800px) {
    font-size: 4vw;
    text-align: left;
  }

  @media (min-width: 1024px) {
    font-size: 2em;
    text-align: left;
  }

}

.homeHeroImage {

  position: relative;
  padding-top: 60%;

  @media (min-width: 800px) {
    padding-top: 0;
  }


  img {

    position: absolute;
    top: -2em;
    width: 170vw;
    margin-bottom: -12em;

    @media (min-width: 800px) {
      top: 1em;
      left: 0;
      width: 100vw;
    }

    @media (min-width: 1024px) {
      width: 70vw;
    }

  }

}

.homeHeroForm {

  text-align: center;

  @media (min-width: 800px) {
    text-align: left;
  }

  p {
    font-size: 1.4em;
    color: $color-gray-500;
  }

  button,
  input {

    width: 100%;
    max-width: none;

    @media (min-width: 480px) {
      width: auto;
    }

  }

  input {

    text-align: center;

    @media (min-width: 800px) {
      text-align: left;
    }

  }

}

.homeHeroFormInputs {

  @media (min-width: 1024px) {
    display: flex;
  }

  & > div {

    &:first-child {

      @media (min-width: 1024px) {
        margin-right: 1em;
      }

    }

  }

}

.homeExpectSection {

  text-align: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 0 -10px 35px rgb(0 0 0 / 10%);

  h2 {
    font-size: 2.5em;
    margin-bottom: 1.5em;
  }

  ul {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    font-size: 1.4em;
    padding: 0;
    margin: 0;

    @media (min-width: 1024px) {
      flex-wrap: nowrap;
      margin: 0 -1.5em;
    }

  }

  li {

    width: 100%;
    padding: 0 1.5em;

    @media (min-width: 800px) {
      width: 50%;
    }

    @media (min-width: 1024px) {
      width: auto;
    }

  }

}

.homeFormatsContainer {

  display: flex;
  flex-direction: column;

  @media (min-width: 800px) {
    flex-direction: row;
  }

  & > div {

    display: flex;
    flex-direction: column;
    width: 100%;

    @media (min-width: 800px) {
      width: 50%;
      flex-grow: 0;
      flex-shrink: 0;
    }

  }

}

.homeFormatsContent {

  justify-content: center;
  text-align: center;
  margin-bottom: 2em;

  @media (min-width: 800px) {
    text-align: left;
    padding-right: 2em;
    margin-bottom: 0;
  }

  h2 {
    font-size: 2.2em;
    font-weight: 600;
    margin-top: 0;
  }

  p {
    font-size: 1.4em;
    margin: 0;
  }

}

.homeFormatsLogos {

  align-items: center;
  justify-content: center;
  text-align: center;

  ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0;
    margin: 0;
  }

  li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 33.33%;
    padding: 1em;
  }

  p {
    color: $color-gray-200;
    font-size: 1.2em;
    margin: 0;
  }

}

.homeFormatsLogosIcon {

  display: block;
  font-size: 4em;
  margin-bottom: 0;

  @media (min-width: 800px) {
    font-size: 5em;
  }

}

.homeSectionForm {
  text-align: center;
}